/* css styles */
body {
  background-color: #e87500 ; 
  font-family: "Garamond", serif;
    color: white;
  font-size: 20px;
}

section {
  background-color: #154734; 
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  margin: 0 0 4px 0;
  width: auto; 
}